<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="../../../assets/img/yt.png" alt="icone do template do youtube">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/insta.png" alt="icone do template do instagram">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/cota.png" alt="icone do template de catações">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/quina.png" alt="icone do template da loteria quina">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/mega.png" alt="icone do template da loteria megasena">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/loteria.png" alt="icone do template da loteria federal">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/lotof.png" alt="icone do template da loteria lotofácil">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/lotom.png" alt="icone do template da loteria lotomania">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/timem.png" alt="icone do template da loteria timemania">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/duplas.png" alt="icone do template da loteria duplasena">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/clima.png" alt="icone do template de clima">
  </ng-template>
</owl-carousel-o>
