<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="../../../assets/img/gnew.png" alt="icone do template da globo news">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/yahoo.png" alt="icone do template do yahoo">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/fatooufake.png" alt="icone do template da fatos ou fake">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/g1.png" alt="icone do template do portal g1">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/uol.png" alt="icone do template da uol">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/cnn.png" alt="icone do template da cnn">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/folhasp.png" alt="icone do template da folha de são paulo">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/img/bbc.png" alt="icone do template da bbc">
  </ng-template>
</owl-carousel-o>
